<div class="main mb-5">

    <section class="welcome-get-data p-5">

        <div class="row justify-content-end">

            <!-- white square - input -->
            <form class="form-date col-12 col-md-3 bg-white rounded text-end p-3 d-flex flex-column align-items-center"
                    [formGroup]="formGetDate"
                    (ngSubmit)="formGetDate.valid ? formSubmit() : errorsForm()">

                <!-- for start date -->
                <div class="inputGroup mb-3 mt-3">

                    <!-- get start date -->
                    <input type="datetime-local" 
                        name="startDate" 
                        id="startDate" 
                        class="date-input"
                        formControlName="startDate"
                        value="2021-07-20T09:01:01"
                    >
                </div>

                <!-- for end date -->
                <div class="inputGroup mb-5">

                    <!-- get end date -->
                    <input type="datetime-local" 
                        name="endDate" 
                        id="endDate" 
                        class="date-input"
                        formControlName="endDate"
                        value="2021-07-20T10:01:01"
                    >
                </div>

                <button class="btn btn-success" type="submit">
                    Analizza
                </button>
            </form>
        </div>
        
    </section>

    <section class="container log-container mt-5"
            [class]="ApiMonitorinResults ? '': 'd-none'">

        <div class="row first-log-data justify-content-md-between p-2 justify-content-center">

            <!-- total calls count -->
            <div class="col-12 col-md-4 mb-4 mb-md-0">

                <div class="p-3 bg-white d-flex justify-content-between rounded">
                    <span>Chiamate totali</span>
                    <span>{{totalCalls}}</span>
                </div>
            </div>

            <!-- total errors count -->
            <div class="col-12 col-md-4 mb-sm-4 mb-4 mb-md-0">

                <div class="p-3 bg-white d-flex justify-content-between rounded">
                    <span>Errori totali</span>
                    <span class="text-danger fw-bold">{{totalErrors}}</span>
                </div>
            </div>

            <!-- resp time count -->
            <div class="col-12 col-md-4">

                <div class="p-3 bg-white d-flex justify-content-between rounded">
                    <span>Tempo risposta medio</span>
                    <span>{{responseTime.toFixed(0)}}ms</span>
                </div>
            </div>
        </div>

        <div class="row chart-section mt-5">

            <div class="calls-over-times-container col-12 col-md-4 mb-4 mb-md-0 d-flex justify-content-center">

                <div class="p-2 rounded bg-white h-100 w-100 chart-box">

                    <h2 class="text-center">Chiamate Totali</h2>

                    <canvas id="calls-over-times-donut"></canvas>
                </div>
            </div>

            <div class="errors-percentage-container col-12 col-md-8 d-flex justify-content-center chart">

                <div class="p-2 rounded bg-white h-100 w-100 chart-box">

                    <h2 class="text-center">Chiamate nel tempo</h2>

                    <div>
                        <div class="chart-body">
                            <canvas id="calls-over-times"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row donut-log-section mt-5">

            <div class="calls-over-times-container col-12 col-md-7 d-flex justify-content-center align-items-start mb-4 mb-md-0">

                <div class="p-2 rounded bg-white w-100 chart-box">

                    <h2 class="text-center">Distribuzione valori</h2>

                    <div>
                        <div class="chart-body">
                            <canvas id="errors-percentage"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="calls-over-times-container col-12 col-md-5 d-flex flex-column align-items-center bg-white rounded pt-3 pb-3">

                <h2 class="text-center">Logs delle ultime 10 chiamate</h2>

                <mat-accordion class="w-100">
                    <mat-expansion-panel hideToggle 
                        *ngFor="let log of ApiMonitorinResults?.logs">
                        <mat-expansion-panel-header>

                            <mat-panel-title>
                                {{log.payload}}
                            </mat-panel-title>

                            <mat-panel-description
                            [ngClass]="log.response_code == '200' ? 'text-success' : 'text-danger'">
                                {{log.response_code}}
                            </mat-panel-description>
                            
                            <i class="fa-solid fa-circle-info"></i>

                        </mat-expansion-panel-header>

                        <div class="d-flex justify-content-between">
                            <p>Data: {{log.creation_datetime | date : 'short'}}</p>
                            <p>Tempo: {{log.response_time}} ms</p>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                
            </div>
        </div>


    </section>
</div>
