<div class="main mb-5">

    <section class="welcome-get-data p-5">

        <div class="row justify-content-end">

            <!-- white square - input -->
            <form class="form-date col-12 col-md-3 bg-white rounded text-end p-3 d-flex flex-column align-items-center"
                    [formGroup]="formGetDate"
                    (ngSubmit)="formGetDate.valid ? formSubmit() : errorsForm()">

                <!-- for start date -->
                <div class="inputGroup mb-3 mt-3">

                    <!-- get date -->
                    <input type="date" 
                            name="startDate" 
                            id="startDate" 
                            class="date-input"
                            formControlName="startDate"
                            >

                            <!-- [(ngModel)]="formGetDate.startDate" -->

                    <!-- get hours -->
                    <select name="startHours" 
                            id="startHours" 
                            class="hours-input"
                            formControlName="startHours">

                        <option *ngFor="let sHours of counter(1,23)" 
                                [value]="sHours">
                            {{sHours}}
                        </option>
                        <option value="00">
                            00
                        </option>

                    </select>

                    <!-- get minutes -->
                    <select name="startHours" 
                            id="startMinutes" 
                            class="minutes-input"
                            formControlName="startMinutes">

                        <option *ngFor="let sMinutes of counter(1,60)" 
                                [value]="sMinutes">
                            {{sMinutes}}
                        </option>
                        <option value="00">
                            00
                        </option>

                    </select>
                </div>

                <!-- for end date -->
                <div class="inputGroup mb-5">

                    <!-- get date -->
                    <input type="date" 
                            name="endDate" 
                            id="endDate" 
                            class="date-input"
                            formControlName="endDate">

                    <!-- get hours -->
                    <select name="endHours" 
                            id="endHours" 
                            class="hours-input"
                            formControlName="endHours">

                        <option *ngFor="let eHours of counter(1,23)" 
                                [value]="eHours">
                            {{eHours}}
                        </option>
                        <option value="00">
                            00
                        </option>

                    </select>

                    <!-- get minutes -->
                    <select name="endHours" 
                            id="endMinutes" 
                            class="minutes-input"
                            formControlName="endMinutes">

                        <option *ngFor="let eMinutes of counter(1,60)" 
                                [value]="eMinutes">
                            {{eMinutes}}
                        </option>
                        <option value="00">
                            00
                        </option>
                    </select>
                </div>

                <button class="btn btn-success" type="submit">
                    Analizza
                </button>
                <button class="btn btn-success" (click)="formSubmit()">
                    test
                </button>
            </form>
        </div>
        
    </section>

    <section class="container log-container mt-5">

        <div class="row first-log-data justify-content-md-between p-2 justify-content-center">

            <!-- total calls count -->
            <div class="col-12 col-md-4 mb-sm-4">

                <div class="p-3 bg-white d-flex justify-content-between rounded">
                    <span>Chiamate totali</span>
                    <span>250231</span>
                </div>
            </div>

            <!-- total errors count -->
            <div class="col-12 col-md-4 mb-sm-4">

                <div class="p-3 bg-white d-flex justify-content-between rounded">
                    <span>Errori totali</span>
                    <span>2321</span>
                </div>
            </div>

            <!-- resp time count -->
            <div class="col-12 col-md-4">

                <div class="p-3 bg-white d-flex justify-content-between rounded">
                    <span>Tempo risposta medio</span>
                    <span>250ms</span>
                </div>
            </div>
        </div>

        <div class="row chart-section mt-5">

            <div class="calls-over-times-containercol-12 col-md-6">

                <canvas class="p-2 rounded bg-white" 
                        id="calls-over-times">
                </canvas>
            </div>
            <div class="errors-percentage-container col-12 col-md-6">

                <canvas class="p-2 rounded bg-white" 
                        id="errors-percentage">
                </canvas>
            </div>
        </div>


    </section>
</div>
